@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body{
    background-color: dimgray;
    font-family: "Roboto Slab", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh
}

.header, .footer{
    border-top: 4px solid black;
    border-bottom: 4px solid black;
}

.header{
    display: flex;
    justify-content: center;
    background-color: lightgrey;
}

.header h1{
    font-size: 34px;
}

.container2, .container3{
    display: flex;
    padding: 0px 16px;
    margin: 0;
}

.container2{
    flex-direction: row;
    justify-content: space-between;
    gap: 30px
}

.info-container{
    display: flex;
    flex-direction: column;
}

.info-and-links{
    display: flex;
    justify-content: space-between;
    gap: 50px
}

.info-and-links h2{
    padding: 0;
    margin: 0;
}

.info-and-links p{
    font-size: 18px;
    max-width: 1250px;
    margin: 16px 8px
}

.links{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    border: 4px solid black;
    margin: 16px
}

.links h2{
    padding-top: 16px;
    margin: 0;
}

.links ul{
    padding: 0;
    margin: 0
}

.education h2{
    padding-top: 16px;
    margin: 0;
}

.education p{
    font-size: 18px;
    max-width: 1250px;
    margin: 16px 8px
}

.container3{
    flex-direction: column;
    border-top: 0px;
}

.container3 ul{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.container3 ul p{
    display: flex;
    flex-direction: column;
    padding: 8px;
    margin: 8px 0px;
}

.footer{
    margin-top: auto
}

img{
    width: 15%;
    align-self: flex-start;
    border: 4px solid lightblue;
    border-radius: 8px;
}